@page "/recipes"
@using Application.Recipes.Queries.GetRecipes
@inject HttpClient Http

<h3>Recipes</h3>

<NavLink href="recipes/add">Dodaj przepis</NavLink>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Created date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in recipes)
        {
            <tr>
                <td>@recipe.Name</td>
                <td>@recipe.Created</td>
            </tr>

        }
    </tbody>
</table>

@code {
    RecipeDto[] recipes = new RecipeDto[] { };

    protected override async Task OnInitializedAsync()
    {
        await GetRecipes();
        await base.OnInitializedAsync();
    }

    //TODO: move this to service
    public async Task GetRecipes()
    {
        var baseUrl = "https://localhost:44381";
        recipes = await Http.GetFromJsonAsync<RecipeDto[]>(baseUrl + "/api/recipes");
    }
}
